<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nouvel utilisateur</title>
  </head>
  <body>
    <h1>Bienvenue dans la création d'utilisateurs</h1>
    <p>Fais péter le formulaire biche!!!</p>

    <h3>Formulaire HTML</h3>
      <form  action="new_user.html" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        Username:<br>
        <input type="text" name="username" ><br>
        Mail:<br>
        <input type="text" name="email" ><br>
        Ya life:<br>
        <textarea type="text" name="bio" ></textarea><br>
        <input type="submit" value="Valider">
      </form>

      <br /> <br />

    <h3>Formulaire form_tag</h3>
        <%= form_tag url_for(action: 'create'), method: "user" do %>
        <%= label_tag 'Username' %>
        <%= text_field_tag 'username' %>
      <br /> <br />
        <%= label_tag 'Email' %>
        <%= email_field_tag 'email' %>
      <br /> <br />
        <%= label_tag 'Bio' %>
        <%= text_area_tag 'bio' %>
      <br /> <br />
        <%= submit_tag "Valider" %>
      <% end %>

      <br /> <br />

    <h3>Formulaire Form_for</h3>
        <%= form_for :user do |f| %>
        <%= f.text_field :username %>
      <br /> <br />
        <%= f.email_field :email %>
      <br /> <br />
        <%= f.text_area :bio %>
      <br /> <br />
        <%= f.submit "Valider" %>
      <% end %>

  </body>
</html>
